<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-2" ng-repeat="query in querys">
                        <div class="input-group">
                            <div class="input-group-addon">{{query.lab}}</div>
                            <input type="text" class="form-control"
                                   aria-describedby="basic-addon1" ng-model="search[query.name]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <button class="btn btn-default" ng-click="Fsearch()">Go！！！</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <table class="table table-hover">
                    <tr>
                        <th ng-repeat="th in ths" ng-click="actionTh()">{{th.lab}}</th>
                    </tr>
                    <tr ng-repeat="piece in data">
                        <td ng-repeat="lab in ths | filter:{lab:'!删除' } | filter:{lab:'!更新' }">{{piece[lab.name]}}</td>
                        <td ng-show="update"><button class="btn btn-default" ng-click="Fupdate(piece)" data-toggle="modal" data-target="#myModal">更新</button></td>
                        <td ng-show="delete"><button class="btn btn-default" ng-click="Fdelete(piece)">删除</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                        <table class="table table-hover">
                            <tr ng-repeat="th in ths | filter:{lab:'!删除' } | filter:{lab:'!更新' }">
                                <td>{{th.lab}}</td>
                                <td><input ng-model="updateDate[th.name]"/></td>
                            </tr>
                        </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="DoFupdate()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
